.topic-background {
  width: 100%;
  height: 100%;
  background-image: url(https://jezzbean.files.wordpress.com/2009/12/clouds1.jpg);
  background-repeat: repeat;
  background-size: contain;
}

h2 {
  color: yellow;
}

.event-background {
  width: 100%;
  height: 100%;
  background-image: url(https://media.wired.com/photos/59094a0ad8c8646f38eef2ae/master/w_1333,c_limit/rainbow-sq.jpg);
  background-repeat: repeat;
  background-size: contain;
}

.burning-banner img{
  width:100%;
  height:70px;
}


