<td colspan="2" align="right" valign="middle">
  <br>
  <br>
  <br>
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-pressbox.gif" height="56" width="131" alt="Press Box Shuttle" border="0">
  </a>
</td>