<td align="center" valign="top">
  <p><%= locals[:topic].name %> Events</p>
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-souvenirs.gif" height="83" width="83" alt="Stellar Souvenirs" border="0">
  </a>
</td>
