<td align="center" valign="bottom">
  <br>
  <br>
  <br>
  <br>
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-sitemap.gif" height="67" width="104" alt="Site Map" border="0">
  </a>
</td>