<td align="center" valign="middle">
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-behind.gif" height="63" width="67" alt="Behind the Jam" border="0">
  </a>
</td>