<td align="center" valign="middle">
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-jamcentral.gif" height="67" width="55" alt="Jam Central" border="0">
  </a>
</td>