<td align="center" valign="top">
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-bball.gif" height="62" width="62" alt="Planet B-Ball" border="0">
  </a>
</td>