<td align="center" valign="bottom">
  <br>
  <br>
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-lunartunes.gif" height="77" width="95" alt="Lunar Tunes" border="0">
  </a>
</td>