<td align="middle" valign="top">
  <br>
  <br>
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-lineup.gif" height="52" width="63" alt="The Lineup" border="0">
  </a>
</td>