<td align="right" valign="bottom">
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-jump.gif" height="52" width="58" alt="Jump Station" border="0">
  </a>
</td>
