<td align="center" valign="bottom">
  <br>
  <br>
  <p><%= locals[:topic].name %> Events</p>
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-junior.gif" height="57" width="49" alt="Junior Jam" border="0">
  </a>
</td>
