<td rowspan="2" align="center" valign="top">
  <br>
  <br>
  <p><%= locals[:topic].name %> Events</p>
  <a href="<%= topic_path(locals[:topic]) %>" title="<%= locals[:topic].name %>">
    <img src="/p-studiostore.gif" height="72" width="94" alt="Warner Studio Store" border="0">
  </a>
</td>
