
<body class="event-background">
  <center>
    <img src="/fBKu2l8.gif" onclick="a1()">
    <table border="1" width="900" cellpadding="30" bgcolor="000000">
      <tr>
        <td>
          <marquee><h3>Title</h3></marquee>
        </td>
        <td>
          <marquee><h3>Description</h3></marquee>
        </td>
        <td>
          <marquee><h3>Price</h3></marquee>
        </td>
        <td>
          <marquee><h3>Actions</h3></marquee>
        </td>
      </tr>
      <tr>
        <td><%= @event.title %></td>
        <td><%= @event.description %></td>
        <td><%= @event.price %></td>
        <td><button>JOIN EVENT</button></td>
      </tr>
    </table>
  </center>
</body>
