<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Netflix Login</title>
  </head>
  <body bgcolor="#000000" style="color: #fff">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
      <br>
      <br>
      <br>
      <br>
      <img src="/netflix.jpg" height="50">
      <br>
      <p>
        Please put the key into the screen in order to login
      </p>
      <br>
      <a href="<%= netflix_path %>">
        <img src="/old-fashioned-door-lock-keyhole-on-old-fashioned-door-lock-blocked-by-a-brick-wall-stock-photo.jpg">
      </a>
      <%= render '/counter'%>
    </cetner>
  </body>
</html>