<div id="player"></div>
<script>

  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "//www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
        height: '100%',
        width: '100%',
        videoId: 'ITEilmryW00',
        playerVars: { 'autoplay': 1, 'controls': 1,'origin':'http://localhost:3000' },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
    });
  }

  function onPlayerReady(event) {
    event.target.setVolume(100);
    event.target.playVideo();
  }
  var done = false;
  function onPlayerStateChange(event) {
          if (event.data == YT.PlayerState.PLAYING && !done) {
              setTimeout(function() {
                alert('Oups, your mother changed the video!')
                player.stopVideo();
                player.loadVideoById('Hjj5GkavZro');
              }, 15000);
            done = true;
          }
  }
</script>