<td align="center" valign="top">
  <a href="<%= event_path(locals[:event]) %>" title="<%= locals[:event].title %>">
    <img src="p-souvenirs.gif" height="83" width="83" alt="Stellar Souvenirs" border="0">
  </a>
</td>