<td align="center" valign="bottom">
  <br>
  <br>
  <br>
  <br>
  <a href="<%= event_path(locals[:event]) %>" title="<%= locals[:event].title %>">
    <img src="p-sitemap.gif" height="67" width="104" alt="Site Map" border="0">
  </a>
</td>