<td align="center" valign="top">
  <a href="<%= event_path(locals[:event]) %>" title="<%= locals[:event].title %>">
    <img src="p-bball.gif" height="62" width="62" alt="Planet B-Ball" border="0">
  </a>
</td>