<td align="center" valign="bottom">
  <br>
  <br>
  <a href="<%= event_path(locals[:event]) %>" title="<%= locals[:event].title %>">
    <img src="p-lunartunes.gif" height="77" width="95" alt="Lunar Tunes" border="0">
  </a>
</td>