<td align="middle" valign="top">
  <br>
  <br>
  <a href="<%= event_path(locals[:event]) %>" title="<%= locals[:event].title %>">
    <img src="p-lineup.gif" height="52" width="63" alt="The Lineup" border="0">
  </a>
</td>