<td align="right" valign="bottom">
  <a href="<%= event_path(locals[:event]) %>" title="<%= locals[:event].title %>">
    <img src="p-jump.gif" height="52" width="58" alt="Jump Station" border="0">
  </a>
</td>