<td align="center" valign="bottom">
  <a href="<%= event_path(locals[:event]) %>" title="<%= locals[:event].title %>">
    <img src="p-junior.gif" height="57" width="49" alt="Junior Jam" border="0">
  </a>
</td>