<td rowspan="2" align="center" valign="top">
  <br>
  <br>
  <a href="<%= event_path(locals[:event]) %>" title="<%= locals[:event].title %>">
    <img src="p-studiostore.gif" height="72" width="94" alt="Warner Studio Store" border="0">
  </a>
</td>